---
layout: default.hbs
id: youtube
subject: Congrats Leo Burnett
---
<table class="container">
  <tr>
    <td>
      <!-- content start -->
      <table class="row logo">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td class="center" align="center">
                  <center>
                    <img width="297" height="32" src="{{env.assetPrefix}}/assets/logo.gif" alt="YouTube Ads Leaderboard" class="center">
                  </center>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row callout">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td>
                    <div class="callout__header">Congrats</div>
                    <div class="callout__sub-header"><div class="callout__sub-header-inner">Everyone's talking about *|AD_NAME|* on the {{global.month}} {{global.year}} YouTube Ads Leaderboard.</div></div>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row image">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td>
                  <img src="{{env.assetPrefix}}/assets/{{global.year}}/{{global.month}}/hero.jpg" width="625" height="855" alt="" mc:label="hero_image" mc:edit="hero_image" mc:allowdesigner>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row share">
        <tr>
          <td class="wrapper offset-by-two last">

            <table class="eight columns">
              <tr>
                <td class="text-pad">
                  <div class="share__item share__item--copy">
                    <p>We created this customized piece of art using the comments, reactions and stats to show the breadth of influence your work had on the millions of people that chose to watch&nbsp;it.</p>
                  </div>
                  <div class="share__item share__item--buttons">
                    <a class="share__button" href="https://plus.google.com/share?url={{env.leaderboardUrl}}" target="_blank"><img src="{{env.assetPrefix}}/assets/social-g.gif" width="46" height="46" alt="Share on Google+"></a>
                    <a class="share__button" href="https://twitter.com/intent/tweet?text={{env.shareCopy}} {{env.leaderboardUrl}}" target="_blank"><img src="{{env.assetPrefix}}/assets/social-t.gif" width="46" height="46" alt="Share on Twitter"></a>
                    <a class="share__button" href="https://www.facebook.com/sharer/sharer.php?u={{env.leaderboardUrl}}" target="_blank"><img src="{{env.assetPrefix}}/assets/social-f.gif" width="46" height="46" alt="Share on Facebook"></a>
                    <a class="share__button" href="https://www.linkedin.com/shareArticle?url={{env.leaderboardUrl}}" target="_blank"><img src="{{env.assetPrefix}}/assets/social-l.gif" width="46" height="46" alt="Share on Linkedin"></a>
                  </div>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

      <table class="row linkedin">
        <tr>
          <td class="wrapper last">

            <table class="twelve columns">
              <tr>
                <td>
                  <div class="linkedin__badge-container">
                    <img src="{{env.assetPrefix}}/assets/{{global.year}}/{{global.month}}/bookmark.gif" width="90" height="94" alt="Top 10 {{global.month}} {{global.year}}" mc:label="badge_image" mc:edit="badge_image" mc:allowdesigner>
                  </div>
                  <div class="linkedin-cta">
                    <div class="linkedin-cta__header">Share your success on LinkedIn with a custom project badge.</div>
                    <div class="linkedin-cta__copy">
                      Step 1: Copy link <a href="*|BADGE_URL|*" target="_blank">*|BADGE_URL|*</a><br/>
                      Step 2: Paste link into “Add Media” on your <a href="https://www.linkedin.com/profile/edit?trk=nav_responsive_sub_nav_edit_profile">profile</a>
                    </div>
                  </div>
                </td>
                <td class="expander"></td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
      
      <!-- container end below -->
    </td>
  </tr>
</table>
{{> footer}}